

.container{
    width: 100%;
    height: 100vh;
    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.backgtound-div{
    display: flex;
    justify-content: flex-end;
}

.main-calc{
    background-color: orange;
    width: 350px;
    height: 450px;
}